<%= form_tag(user_requests_path(:target_id => @target_id, :source_id => @source_id, :user_id => session[:user_id]), method: :post) do %>

  <div style="position: relative; padding-bottom: 5px">
    <h4><%= "Send Request to Team " + @target_id %></h4>
  </div>

  <div class="form-group">
    <%= label :request, "Request Message", id:"request_label" %>
    <%= text_area :request, 'content', id: "request_content", class: "form-control", placeholder: "Hi there. I'd like to join your team!" %>
  </div>

  <%= submit_tag "Send", :class => "btn btn-primary btn-sm"%>

  <button type="button" class="btn btn-link" id="closeLink">Cancel</button>


<% end %>


<style type="text/css">
  #closeLink{
    float: right;
  }

  #dialog{
    position: fixed;
    margin: auto;
    background: white;
    top: 50%;
    left: 50%;
    
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    width: auto;
    min-width: 50%;
    max-width: 55%;
    height: auto;
    min-height: 25%;
    
    
    border: 2px solid #07073c;
    padding: 19px;
    padding-top: 13px;
    z-index: 100;
  }
  
  #request_label {
    font-size: 18px;
  }

  #request_content {
    height: 140px;
    vertical-align: middle;
  }
</style>
