<title>Team Profile</title>
<div class="container">
<h1>Team Profile</h1>
<h5>Team ID: <%= @team.id %></h5>

<%
  enumeration = @team.users.count
  enumeration <= 3? row = 1 : row = 2
  for i in 1..row 
%>
  <div class = row>
    <% for j in 0..2 %>
    <% if enumeration > 0 %>
    <div class = "col-md-4 col-sm-6 col-xs-12">
      <h3><%= link_to @users_name_arr.pop(), user_path(@users_id.pop()) %></h3>

      <%= image_tag @users_pic_arr.pop(), :class => "img-responsive" %>
      <h5><span class="info_category">Major:&nbsp;</span><%= @users_major_arr.pop() %></h5>
      <hr class="custom_hr">
      <h5><span class="info_category">On Waitlist?&nbsp;</span><%= @users_waitlist_arr.pop()? "Yes" : "No" %></h5>
      <hr class="custom_hr">
      <h5><span class="info_category">Bio:&nbsp;</span> <%= @users_bio_arr.pop() %></h5>
      <hr class="custom_hr">
      <h5><span class="info_category">Time commitment:&nbsp;</span><%= @users_time_arr.pop() %>hrs/wk</h5>
      <hr class="custom_hr">
      <h5><span class="info_category">Available days:&nbsp;</span><%= @users_days_arr.pop() %></h5>
      <hr class="custom_hr">
      <h5><span class="info_category">Experience:&nbsp;</span><%= @users_exp_arr.pop() %></h5>
      <hr class="custom_hr">
      <h5><span class="info_category">Skills:&nbsp;</span><%= @users_skills_arr.pop() %></h5>
      <hr class="custom_hr">
      <% currentFb =  @users_fb_arr.pop() %>
      <h5><span class="info_category">Facebook:&nbsp;</span><%=link_to "#{currentFb}",currentFb %></h5>
      <hr class="custom_hr">
      <% currentLk =  @users_lk_arr.pop() %>
      <h5><span class="info_category">Linkedin:&nbsp;</span><%=link_to "#{currentLk}",currentLk %></h5>
      <hr class="custom_hr">
      <% currentEmail =  @users_email_arr.pop() %>
      <h5><span class="info_category">Email:&nbsp;</span><a href="mailto:<%= currentEmail %>"><%= currentEmail %></a></h5>
      <hr class="custom_hr">
    </div>
    <% enumeration-= 1 
      end %>
    <% end %>
  </div>
  <% end %>
  
  
</div>